language: go
notifications:
  email: false
branches:
  only:
    - master
    - dev
    - stg
    - prod
go:
  - 1.14
services:
  - docker
before_install:
  - go get github.com/golangci/golangci-lint/cmd/golangci-lint@v1.27.0
install:
  - go mod download
before_script:
  - make lint
script:
  - make docker && make docker-test
